/*      F O N T   */
/* roboto-regular - cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-v20-cyrillic-regular.eot');
  /* IE9 Compat Modes */
  src: local('Roboto'), local('Roboto-Regular'),
    /* IE6-IE8 */
    url('../fonts/roboto-v20-cyrillic-regular.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('../fonts/roboto-v20-cyrillic-regular.woff') format('woff');
}

/* roboto-500 - cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/roboto-v20-cyrillic-500.eot');
  /* IE9 Compat Modes */
  src: local('Roboto Medium'), local('Roboto-Medium'),
    /* IE6-IE8 */
    url('../fonts/roboto-v20-cyrillic-500.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('../fonts/roboto-v20-cyrillic-500.woff') format('woff');
}

/* roboto-700 - cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/roboto-v20-cyrillic-700.eot');
  /* IE9 Compat Modes */
  src: local('Roboto Bold'), local('Roboto-Bold'),
    /* IE6-IE8 */
    url('../fonts/roboto-v20-cyrillic-700.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('../fonts/roboto-v20-cyrillic-700.woff') format('woff');
}

/*    Main Style   */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  min-width: 1200px;
  font-family: Roboto, Arial, sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  background-color: #ffffff;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.btn {
  display: inline-block;
  padding: 18px 53px;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  background-color: #fb565a;
}

/*   Style header   */

.page-header {
  min-height: 115px;
  background-color: #eeeeee;
}

.navigation {
  display: flex;
  min-height: 115px;
}

.navigation .logo {
  margin-top: 50px;
  width: 160px;
  height: 65px;
}

.navigation-list {
  display: flex;
  min-width: 440px;
  margin-top: 80px;
  margin-left: 175px;
}

.navigation-item {
  margin-right: 45px;
}

.navigation-item:last-child {
  margin-right: 0;
}

.navigation-link {
  font-family: roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 33px;
}

.basket {
  font-family: roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 33px;
  margin-top: 80px;
  margin-left: auto;
}

/*    Style  main   */

.slideshow {
  position: relative;
  margin-bottom: 80px;
  background-color: #eeeeee;

}

.slideshow-list {
  display: flex;
  padding-left: 0;
  margin-top: 0;
}

.slideshow-item {
  display: flex;
}

.slideshow-item .item-text {
  min-width: 380px;
  margin-top: 84px;
}

.slideshow-item .title-text {
  margin-top: 0;
  min-height: 100px;
  font-family: roboto;
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
}

.slideshow-item .text {
  margin-bottom: 42px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #283136;
}

.slideshow .img-wrap {
  margin-top: 37px;
  margin-left: 52px;
}


.development {
  display: flex;
  justify-content: space-between;
  margin-bottom: 170px;
}

.development-content {
  width: 300px;
}

.development-content h3 {
  margin-top: 26px;
  margin-bottom: 26px;
  font-family: Roboto;
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.development-contet p {
  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  line-height: 24px;
  color: #283136;
}

.development-content .btn {
  margin-top: 35px;
}

.development-content .green {
  background-color: #00ca74;
}

.development-content .yellow {
  background-color: #efc84a;
}

.info {
  display: flex;
  margin-bottom: 130px;
}

.info-column-left {
  width: 660px;
}

.info-column-left .title-text {
  margin-bottom: 45px;
  min-width: 660px;
  font-family: roboto;
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}

.info-column-left .info-text {
  margin-bottom: 50px;
  font-family: roboto;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #283136;
}

.info-column-left .sub-title-text {
  margin-bottom: 38px;
  font-family: roboto;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
}

.services-item {
  margin-bottom: 40px;
  font-family: roboto;
  font-size: 16px line-height: 24px;
  color: #283136;

}

.info-column-right {
  width: 360px;
  margin-left: 140px;
}

.info-column-right .logo {
  margin-bottom: 40px;
}

.info-column-right .title-text {
  margin-bottom: 49px;
  font-family: roboto;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.advantage-list {
  padding-left: 0;
}

.advantage-item {
  display: flex;
}

.advantage-list .title-text {
  margin-bottom: 27px;
  margin-right: 22px;
  font-family: roboto;
  font-size: 45px;
  line-height: 10px;
  font-weight: 700;
}

.advantage-list .info-text {
  margin-right: 30px;
  font-family: roboto;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #283136;
}

.partners-list {
  display: flex;
  justify-content: space-around;
  margin-bottom: 132px;
}

.route {
  display: flex;
  align-items: center;
  min-height: 416px;
}

.map {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

.contacts-nerds {
  position: relative;
  width: 319px;
  min-height: 308px;
  padding: 48px 48px 47px 51px;
  background-color: #ffffff;
}

.contacts-nerds .title-text {
  font-family: Roboto;
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.contacts-nerds .text {
  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  line-height: 16px;
  color: #666666;
}

.contacts-nerds .tel {
  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  line-height: 16px;
  color: #666666;
}

.contacts-nerds .btn {
  margin-top: 37px;
  padding: 19px 45px;
}

/*   Style  footer  */


.footer-inner {
  display: flex;
  align-items: center;
  height: 217px;
}

.socials-list {
  display: flex;
}

.socials-item {
  margin-right: 72px;
}

.socials-item:last-child {
  margin-right: 0;
}

.discounts-friends {
  margin-left: 168px;
}

.discounts-friends .title-text {
   font-family: Roboto;
  font-size: 36px;
  font-weight: bold;
  line-height: 36;
  color: #000000;
}

.discouns-friends .text {
   font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  line-height: 22px;
  color: #444444;
}
