/*      F O N T   */
/* roboto-regular - cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-v20-cyrillic-regular.eot');
  /* IE9 Compat Modes */
  src: local('Roboto'), local('Roboto-Regular'),
    /* IE6-IE8 */
    url('../fonts/roboto-v20-cyrillic-regular.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('../fonts/roboto-v20-cyrillic-regular.woff') format('woff');
}

/* roboto-500 - cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/roboto-v20-cyrillic-500.eot');
  /* IE9 Compat Modes */
  src: local('Roboto Medium'), local('Roboto-Medium'),
    /* IE6-IE8 */
    url('../fonts/roboto-v20-cyrillic-500.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('../fonts/roboto-v20-cyrillic-500.woff') format('woff');
}

/* roboto-700 - cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/roboto-v20-cyrillic-700.eot');
  /* IE9 Compat Modes */
  src: local('Roboto Bold'), local('Roboto-Bold'),
    /* IE6-IE8 */
    url('../fonts/roboto-v20-cyrillic-700.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('../fonts/roboto-v20-cyrillic-700.woff') format('woff');
}

/*    Main Style   */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  min-width: 1200px;
  font-family: Roboto, Arial, sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  background-color: #ffffff;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.btn {
  display: inline-block;
  padding: 18px 53px;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  background-color: #fb565a;
  transition: 0.5s;
}

/*   Style header   */

.page-header {
  min-height: 115px;
  background-color: #eeeeee;
}

.navigation {
  display: flex;
  min-height: 115px;
}

.navigation .logo {
  margin-top: 50px;
  width: 160px;
  height: 65px;
}

.link-logo {
 transition: 0.5s;
}

.link-logo:hover,
.link-logo:focus {
  opacity: 0.8;
}

.link-logo:active,
.link-logo:focus {
  opacity: 0.2;
}

.navigation-list {
  display: flex;
  min-width: 440px;
  margin-top: 80px;
  margin-left: 175px;
}

.navigation-list .active {
  border-bottom: 2px solid #fb565a;
}

.navigation-item {
  margin-right: 45px;
}

.navigation-item:last-child {
  margin-right: 0;
}

.navigation-link {
  font-family: roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 33px;
  transition: 0.5s;
}

.navigation-link:hover,
.navigation-link:focus {
  color: #fb565a;
}

.navigation-link:active,
.navigation-link:focus {
  opacity: 0.3;
}

.basket {
  margin-top: 80px;
  margin-left: auto;
}

.basket-link {
  position: relative;
  padding-left: 47px;
  font-family: roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 33px;
  transition: 0.5s;
}

.basket-link::before {
  position: absolute;
  content: "";
  top: 5px;
  left: 0;
  width: 15px;
  height: 15px;
  background-image: url(../img/icon/cart-icon.svg);
  background-repeat: no-repeat;
}

.basket-link:hover,
.basket-link:focus {
  color: #fb565a;
}

.basket-link:active,
.basket-link:focus {
  opacity: 0.3;
}



/*    Style  main index   */

.slideshow {
  position: relative;
  background-color: #eeeeee;
}

.slider-list {
  margin: 0 0 80px 0;
  padding: 0;
}

.slider-item {
  display: none;
  padding: 78px 0 80px 0;
}

.slider-item:nth-child(1) {
  display: block;
}

.slider-item:nth-child(1) {
  background-image: url(../img/png/slide1.png);
  background-repeat: no-repeat;
  background-position: 93% 18px;
}

.slider-item:nth-child(2) {
  background-image: url(../img/png/slide2.png);
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.slider-item:nth-child(3) {
  background-image: url(../img/png/slide3.png);
  background-repeat: no-repeat;
  background-position: 100% 20px;
}

.slider-item h3 {
  max-width: 600px;
  margin: 0;
  margin-bottom: 27px;

  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.slider-item p {
  max-width: 430px;
  margin: 0;
  margin-bottom: 38px;
}



.slideshow-controls {
  position: absolute;
  display: flex;
  justify-content: center;
  left: 50%;
  bottom: 100px;
  width: 240px;
  height: 18px;
  transform: translateX(-50%);
}

.slideshow-controls .active {
  background-image: url(../img/filter-button.svg);
  background-repeat: no-repeat;
}

.slideshow-btn {
  position: relative;
  display: block;
  margin: 0 9px;
  width: 18px;
  height: 18px;
  border: 0;
  border-radius: 50%;
  background-color: #fff;
}

.slideshow .btn:hover,
.slideshow .btn:focus {
  background-color: #e74246;
}

.slideshow .btn:active,
.slideshow .btn:focus {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
}


.development {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  padding-bottom: 80px;
  border-bottom: 2px solid #eee;
}

.development-content {
  width: 300px;
}

.development-content h3 {
  margin-top: 26px;
  margin-bottom: 26px;
  font-family: Roboto;
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.development-contet p {
  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  line-height: 24px;
  color: #283136;
}

.development-content .btn {
  margin-top: 35px;
}

.development-content .red:hover,
.development-content .red:focus {
  background-color: #e74246;
}

.development-content .red:active,
.development-content .red:focus {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
}

.development-content .green {
  background-color: #00ca74;
}

.development-content .green:hover,
.development-content .green:focus {
  background-color: #00bc6d;
}

.development-content .green:active,
.development-content .green:fucus {
  background-color: #00aa62;
  color: rgba(255, 255, 255, 0.3);
}

.development-content .yellow {
  background-color: #efc84a;
}

.development-content .yellow:hover,
.development-content .yellow:focus {
  background-color: #eab534;
}

.development-content .yellow:active,
.development-content .yellow:focus {
  background-color: #e5a722;
  color: rgba(255, 255, 255, 0.3);
}

.info {
  display: flex;
  margin-bottom: 60px;
  padding-bottom: 60px;
  border-bottom: 2px solid #eee;
}

.info-column-left {
  width: 660px;
}

.info-column-left .title-text {
  margin-bottom: 37px;
  min-width: 660px;
  font-family: roboto;
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}

.info-column-left .info-text {
  margin-bottom: 37px;
  font-family: roboto;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #283136;
}

.info-column-left .sub-title-text {
  margin-bottom: 38px;
  font-family: roboto;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
}

.services-list {
  padding-left: 0;
}

.services-item {
  position: relative;
  padding-left: 38px;
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 24px;
  color: #283136;
}

.services-item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 57%;
  transform: translateY(-50%);
  width: 25px;
  height: 2px;
  background-color: #fb565a;
}

.info-column-right {
  width: 360px;
  margin-left: 140px;
}

.info-column-right .logo {
  margin-bottom: 43px;
}

.info-column-right .title-text {
  margin-bottom: 35px;
  font-family: roboto;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.advantage-list {
  padding-left: 0;
}

.advantage-item {
  display: flex;
}

.advantage-list .title-text {
  margin-bottom: 27px;
  margin-right: 22px;
  font-family: roboto;
  font-size: 45px;
  line-height: 10px;
  font-weight: 700;
}

.advantage-list .info-text {
  margin-right: 30px;
  font-family: roboto;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #283136;
}

.partners-list {
  display: flex;
  justify-content: space-around;
  margin-bottom: 80px;
  padding-left: 0;
  padding-bottom: 50px;
  border-bottom: 2px solid #eee;
}

.partners-link {
  width: 210px;
  height: 100px;
  opacity: 0.2;
  transition: 0.6s;
}

.academy {
  display: block;
  background-image: url(../img/png/Logo1.png);
  background-repeat: no-repeat;
  background-position: center;
}

.barbershop {
  display: block;
  background-image: url(../img/png/Logo2.png);
  background-repeat: no-repeat;
  background-position: center;
}

.pink{
  display: block;
  background-image: url(../img/png/Logo3.png);
  background-repeat: no-repeat;
  background-position: center;
}
.mishka {
  display: block;
  background-image: url(../img/png/Logo4.png);
  background-repeat: no-repeat;
  background-position: center;
}

.academy:hover,
.barbershop:hover,
.pink:hover,
.mishka:hover {
  opacity: 1;
}

.academy:active,
.barbershop:active,
.pink:active,
.mishka:active {
  opacity: 0.2;
}

.route {
  display: flex;
  align-items: center;
  min-height: 416px;
}

.map {
  position: relative;
}

.route img {
  max-width: 100%;
}

.contacts-nerds {
  position: absolute;
  left: 95px;
  width: 319px;
  min-height: 308px;
  padding: 48px 48px 47px 51px;
  background-color: #ffffff;
}

.contacts-nerds .title-text {
  font-family: Roboto;
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.contacts-nerds .text {
  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  line-height: 16px;
  color: #666666;
}

.contacts-nerds .tel {
  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  line-height: 16px;
  color: #666666;
}

.contacts-nerds .btn {
  margin-top: 37px;
  padding: 19px 45px;
}

.contacts-nerds .btn:hover,
.contacts-nerds .btn:focus {
  background-color: #e74246;
}

.contacts-nerds .btn:active,
.contacts-nerds .btn:focus {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
}

/*   Stye main catalog  */

.h1-wrap {
  background-color: #eeeeee;
}

.catalog-sort {
  margin-top: 20px;
}

.title-catalog {
  margin-top: 0;
  padding-top: 82px;
  padding-bottom: 116px;
  font-family: Roboto;
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
  text-align: center;
  color: #000000;
}

.form-group {
  margin: 0 0 15px;
  padding: 0;
  width: 260px;
  border: none;
}

.form-label {
  font-family: roboto;
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
  text-transform: uppercase;
  color: #000;
}

.filter-item {
  margin: 0;
  padding: 0;

  border: none;
}

.range-filter {
  width: 260px;
  margin-top: 49px;
}

.filter-item legend {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

.range-controls {
  position: relative;

  height: 80px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;

  background-color: #f1f1f1;

  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;

  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;

  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;

  width: 4px;
  height: 4px;
  padding: 0;

  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 50px;
}

.range-controls .toggle-max {
  left: 110px;
}

.price-controls {
  display: flex;
  justify-content: space-around;
  margin-bottom: 57px;
  font-size: 0;
}

.price-controls label {
  display: inline-block;
  width: 50%;

  font-size: 16px;
  text-transform: uppercase;
}

.price-controls input {
  width: 80px;
  padding: 8px 10px;
  margin-left: 10px;

  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  color: #283136;

  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}

.max-price {
  text-align: right;
}


.grid-list {
  padding-left: 0;
  color: #283136;
}

.grid-item {
  margin-bottom: 17px;
}

.grid-item label {
  position: relative;
  display: block;
  user-select: none;
  padding-left: 40px;
}

.grid-radio:checked + label::after {
  position: absolute;
  content: "";
  top: 2px;
  left: 0;

  width: 25px;
  height: 25px;

  background-image: url(../img/radio-on.svg);
  background-repeat: no-repeat;

  opacity: 0.3;
  transition: 0.5s;
}

.grid-radio + label::before {
  position: absolute;
  content: "";
  top: 2px;
  left: 0;

  width: 25px;
  height: 25px;

  background-image: url(../img/radio-off.svg);
  background-repeat: no-repeat;

  opacity: 0.3;
  transition: 0.5s;
}

.grid-item label:hover::after,
.grid-item label:focus::after,
.grid-item label:hover::before,
.grid-item label:focus::before {
  opacity: 1;
}

.features-list {
  padding-left: 0;
  color: #283136;
}

.features-item {
  margin-bottom: 17px;
}

.features-item label {
  position: relative;
  display: block;
  user-select: none;
  padding-left: 40px;
}

.features-checkbox:checked + label::after {
  position: absolute;
  content: "";
  top: 2px;
  left: 0;

  width: 25px;
  height: 25px;

  background-image: url(../img/checkbox-on.svg);
  background-repeat: no-repeat;

  opacity: 0.3;
  transition: 0.5s;
}

.features-checkbox + label::before {
  position: absolute;
  content: "";
  top: 2px;
  left: 0;

  width: 25px;
  height: 25px;

  background-image: url(../img/checkbox-off.svg);
  background-repeat: no-repeat;

  opacity: 0.3;
  transition: 0.5s;
}

.features-item label:hover::after,
.features-item label:focus::after,
.features-item label:hover::before,
.features-item label:focus::before {
  opacity: 1;
}

.form-filter .btn {
  padding: 19px 88px;
  background-color: #eee;
  color: #000;
}

.form-filter .btn:hover,
.form-filter .btn:focus {
  background-color: #e1e1e1;
}

.form-filter .btn:active,
.form-filter .btn:focus {
  background-color: #d5d5d5;
}

.catalog-wrap {
  display: flex;
}

.catalog-inner {
  margin-left: 130px;
}

.user-sort {
  display: flex;
}

.label-sort {
  font-family: roboto;
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
  text-transform: uppercase;
  color: #000;
}

.sort-list {
  display: flex;
  width: 280px;
  padding-left: 0;
  justify-content: space-between;
  margin-left: auto;
}

.sort-list .active {
  opacity: 1;
}

.sort-link {
  opacity: 0.3;
  transition: 0.7s;
}

.sort-link:hover {
  opacity: 0.6;
}

.sort-link:active {
  opacity: 1;
}

.arrows-list {
  display: flex;
}

.arrows-item {
  margin-right: 19px;
  opacity: 0.3;
  transition: 0.7s;
}

.arrows-item:hover {
  opacity: 0.6;
}

.arrows-item:active {
  opacity: 1;
}

.arrows-item:last-child {
  margin-right: 0;
}

.catalog {
  margin-top: 35px;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 0;
}

.catalog-item {
  position: relative;
  margin-bottom: 35px;
}

.catalog-img-wrap {
  position: relative;
}

.catalog-img-wrap::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 360px;
  height: 40px;
  background-image: url(../img/browser.svg);
  background-repeat: no-repeat;
  opacity: 0.2;
  transition: 0.5s;
}

.catalog-img-wrap:hover::before {
  opacity: 1;
}

.card-img {
  display: block;
  padding-top: 40px;
}

.info-card {
  position: absolute;
  bottom: 0;
  left: 0;

  display: none;
  padding: 10px 60px 30px 60px;

  text-align: center;

  background-color: #eee;
}

.catalog-item:hover > .info-card {
  display: block;
  transition: 0.5s;
}

.info-card h3 {
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
}

.info-card p {
  font-size: 16px;
  line-height: 18px;
  color: #666666;
}

.info-card .btn {
  padding: 20px 60px;
}

.pagination {
  display: flex;
  align-items: center;
  margin-bottom: 60px;
}

.pagination-list {
  display: flex;
  padding-left: 0;
  margin-right: 15px;
}

.pagination-item {
  margin-right: 15px;
}

.pagination .active {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border: 5px solid #eee;
  color: #000;
}

.pagination-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: #eee;
  color: #000;
  transition: 0.7s;
}

.pagination .btn {
  padding-left: 75px;
  padding-right: 75px;
  background-color: #eee;
  color: #000;
  transition: 0.7s;
}

.pagination .btn:hover {
  background-color: #dfdfdf;
}

.pagination-link:hover {
  background-color: #dfdfdf;
}

.pagination-link:active {
  background-color: #d5d5d5;
}

/*   Style  footer  */


.footer-inner {
  display: flex;
  align-items: center;
  height: 217px;
}

.socials-list {
  display: flex;
  padding-left: 0;
}

.socials-item {
  margin-right: 12px;
}

.socials-item:last-child {
  margin-right: 0;
}

.socials-link {
  display: inline-block;
  width: 78px;
  height: 78px;
  background-color: #e1e1e1;
  border-radius: 50%;
  transition: 0.5s;
}

.vk {
  background-image: url(../img/icon/vk-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.fb {
  background-image: url(../img/icon/fb-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.insta {
  background-image: url(../img/icon/insta-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.vk:hover,
.fb:hover,
.insta:hover {
  background-color: #e74246;
}

.vk:active,
.fb:active,
.insta:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
  transition: 0.7s;
}

.discounts-friends {
  margin-left: 168px;
}


.discounts-friends .title-text {
  margin-top: 10px;
  margin-bottom: 0;
  font-family: Roboto;
  font-size: 36px;
  font-weight: bold;
  line-height: 36px;
  color: #000000;
}

.discouns-friends .text {
  margin-top: 12px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  line-height: 22px;
  color: #444444;
}

/*  Style popup  */

.popup {
  position: fixed;
  left: 50%;
  top: 1687px;
  transform: translateX(-50%);

  width: 960px;
  box-shadow: 0px 20px 40px 0 rgba(0, 1, 1, 0.75);


  background-color: #eee;

  background-image: url(../img/jpg/white back.jpg);
  background-repeat: repeat;
  background-position: 0 0;
}


